@model IEnumerable<Source>
@{
    ViewData["Title"] = "Privacy Policy";
        Layout = "~/Views/Shared/_LayoutLogin2.cshtml";
}
<style>
    h2, h5, h6 {
        color: black;
    }
        h2:hover {
            color: #2B463D;
        }

</style>
<div style="margin-left:20px; min-height:1000px;">


    <div class="container">
        <div class="row" style="margin-bottom:15px;">
            @if (User.IsInRole("Admin"))
            {
                <div class="panel col-md-10">
                    <a asp-action="AddCategory" asp-controller="Category" class="btn btn-info btn-md float-right offset-2" style="margin:3px;">Nová kategorie</a>
                </div>
                <div class="panel col-md-2">
                </div>
            }
        </div>

        <div class="row">
            @foreach (Source source in Model)
            {
                <div style="color:black; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;" class="col-lg-4 col-md-4 col-xs-12 order-1 d-block mb-3  ">
                    <div class="p-2">
                        <span style="padding-top:6px;">@source.Name</span>
                        <div style="display: inline-block;" class="px-1  float-end">
                                <a  class="admin-news-delete d-block" onclick="deleteUser(this)" data-id="@source.Id">
                                    <img src="~/images/icons/delete.svg" alt="" class="img-fluid">
                                </a>
                        </div>
                    </div>
                </div>
          
            }
        </>
    </div>

</div>